.home {
	a {
		box-shadow: inset 0 0 0 0 #ebcfcf;
		color: #e99090;
		padding: 0 .25rem;
		margin: 5%;
		transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	}
	a:hover {
		color: #08529c;
		box-shadow: inset 200px 0 0 0 #7fceeb;;
	}

	
	a {
		color: #785fe7;
		font-family: 'Poppins', sans-serif;
		font-size: 27px;
		font-weight: 700;
		line-height: 1.5;
		text-decoration: none;
	}

	body {
		display: grid;
		height: 100vh;
		place-items: center;
	}
}  

.text-bottom {
	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 60%;
		height: 0;
		z-index: 100;
	
		background: rgb(255, 255, 255);
		background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 1) 75%,
			rgba(255, 255, 255, 0.9) 80%,
			rgba(255, 255, 255, 0.25) 95%,
			rgba(255, 255, 255, 0) 100%
		);
	}
	
	.text {
		font-family: "Yanone Kaffeesatz";
		font-size: 80px;
		display: flex;
		position: absolute;
		bottom: 30vh;
		left: 50%;
		transform: translateX(-50%);
		user-select: none;
	
		.wrapper {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
			.letter {
				transition: ease-out 1s;
				transform: translateY(40%);
			}
			.shadow {
				transform: scale(1, -1);
				color: #999;
				transition: ease-in 5s, ease-out 5s;
			}
			&:hover {
				.letter {
					transform: translateY(-200%);
				}
				.shadow {
					opacity: 0;
					transform: translateY(200%);
				}
			}
		}
	}
	
}
