{% extends 'Base.html' %}
{% load static %}

{% block header %} 
    <link rel="stylesheet" href="{% static "Tasks/css/category-section.css" %}"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% endblock %}

{% block title %}
    Categories
{% endblock %}

{% block content %}
<div class="blank"> </div> 

<div class="container bootstrap snippets bootdeys category">
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4 col-sm-6 content-card">
                <div class="card-big-shadow">
                    <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                        <div class="content">
                            <h6 class="category">{{ category.name }}</h6>
                            <h4 class="title"><a href="{% url "category-task" category.id %}">See Tasks</a></h4>
                            <p class="description"> {{ category.description }} </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="blank"> </div>
{% endblock %}