<!-- #CodePenChallenge: Lightness -->

<div class="overlay"></div>

<div class="text">
	<div class="wrapper">
		<div id="L" class="letter">B</div>
		<div class="shadow">B</div>
	</div>
	<div class="wrapper">
		<div id="I" class="letter">E</div>
		<div class="shadow">E</div>
	</div>
	<div class="wrapper">
		<div id="G" class="letter">T</div>
		<div class="shadow">T</div>
	</div>
	<div class="wrapper">
		<div id="H" class="letter">T</div>
		<div class="shadow">T</div>
	</div>
	<div class="wrapper">
		<div id="T" class="letter">E</div>
		<div class="shadow">E</div>
	</div>
	<div class="wrapper">
		<div id="N" class="letter">R</div>
		<div class="shadow">R</div>
	</div>
    <div class="wrapper">
		<div class="letter"> </div>
		<div class="shadow"> </div>
	</div>
	<div class="wrapper">
		<div id="E" class="letter">L</div>
		<div class="shadow">L</div>
	</div>
	<div class="wrapper">
		<div id="S" class="letter">I</div>
		<div class="shadow">I</div>
	</div>
	<div class="wrapper">
		<div id="Stwo" class="letter">F</div>
		<div class="shadow">F</div>
	</div>
    <div class="wrapper">
		<div id="E" class="letter">E</div>
		<div class="shadow">E</div>
	</div>
</div>